.todo-list--text--no-todos {
  height: 56px;
  width: calc(100% - 54px);
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7e2e9;
  border-radius: 8px;
}
.todo-list--text--no-todos p {
  font-size: 16px;
  font-weight: 500;
  color: rgb(255, 255, 255);
}